<h1>タスクの編集</h1>

<div class = "back-button">
  <%= link_to '一覧に戻る', root_path, class:"btn btn-outline-primary" %>
</div>

<%#= render 'tasks/calendar', tasks:@tasks %>

<%= render 'tasks/form', task:@task %>
