  <h1>タスク一覧</h1>
  
  <div class = "flex">
    <span>体力:</span>
    <%= current_user.hp %>
    <div class = "status-bar">
      <% @no_hp.times do %>
        <span class='no_hp'>.</span>
      <% end %>
      <% @hp.times do %>
        <span class='my_hp'>.</span>
      <% end %>
    </div>

    <div class= 'comment'>
      <%if current_user.hp > 50 %>
        <span>元気です、良い1日を</span>
      <% elsif current_user.hp <= 50 && current_user.hp > 25 %>
        <span>お疲れ様です、そろそろ休んではどうでしょう</span>
      <% else %>
        <span>頑張りすぎています、休みましょう</span>
      <% end %>
    </div>
    
    <div class="top-button">
      <%= link_to '作成', new_task_path, class: "btn btn-outline-primary" %>
    </div>
  </div>
  <%= render 'tasks/calendar', tasks:@tasks %>



