/*
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
@import '~bootstrap-material-design/scss/bootstrap-material-design';

.top-comment{
  margin:30px;
  h1{
    margin-left:20px;
  }
}

.status-bar{
  margin-left:10px;
}

.my_hp {
  color: #00FF66;
  height: 10%;
  width: 10%;
  background : linear-gradient(to right,
  green,
  aqua);
}

.no_hp{
  color:gray;
  width: 10%;
  height: 10%;
  background: gray;
  opacity: 0.4;
}

.comment{
  margin-left:150px;
  margin-right: 300px;
  padding:30px;
  border : solid 0.1px #606060;
}
.flex{
  display: flex;
}

.back-button{
  margin-top:20px;
  margin-bottom: 30px;
}

.form-group{
  margin-bottom:20px;
}

.alone{
  margin-left:40px;
  color:black;
}

.form-create-button{
  margin-top: 10px;
}

.show-back-button{
  margin-right:20px;
  margin-top:20px;
  margin-bottom:20px;
}

.show-edit-button{
  margin-right:20px;
  margin-top:20px;
  margin-bottom:20px;
}

.show-delete-button{
  margin-top:20px;
  margin-bottom:20px;
}

.create-user-button{
  margin-top:20px;
  margin-bottom:20px;
  text-align:right;
  margin-right:20px;
}

.alone-todo{
  color: #FFCC66;
}